<template>
  <div class="colophon">
    Made by <a href="https://cybersuper.space/" target="_blank">Mika</a> with <a href="https://vuejs.org/"
      target="_blank">Vue</a> —
    <a href="https://tonejs.github.io/" target="_blank">Tone.js</a> — Sonic pi
    <a href="https://github.com/smpldsnds/sonic-pi-samples" target="_blank">audio samples</a> — Brockmann font by
    <a href="https://www.atipofoundry.com/" target="_blank">atipo</a>
  </div>
</template>

<style lang="sass">
$xs-down: "screen and (max-width: 580px)"
.colophon
  position: fixed
  width: 100vh
  left: 2.5rem
  bottom: 1.5rem
  transform: rotate(-90deg)
  transform-origin: bottom left

  @media #{$xs-down}
    left: 1.325rem
    font-size: 0.7rem
    bottom: 2.75rem
</style>