<template>
  <g>
    <template v-for="(human, index) in humans">
      <Human :x="human.x" :y="human.y" :tranche="human.tranche" :pulse="human.pulse" @move="e => human_moved(e, human)" @dblclick="remove(index)" />
    </template>
  </g>
</template>

<script setup>
import { ref } from 'vue'
import Human from '@/components/Human.vue'
import { getTranche } from '@/composables/RadialCalculus'
import { useChangesStore } from '@/stores/ChangesStore.js'

const props = defineProps({
  svg: {
    type: Object
  },
  params: {
    type: Object
  }
})

const humans = ref([])
const center = { x: 500, y: 500 }
const changes = useChangesStore()

const screenSpaceToSvgSpace = (x, y) => {
  // convert window coords (ex: mouse coords) to SVG coordinates
  const pt = props.svg.createSVGPoint() // demo is an SVGElement
  pt.x = x
  pt.y = y
  const svgPoint = pt.matrixTransform(props.svg.getScreenCTM().inverse())
  // svgPoint.x and svgPoint.y are now in SVG coordinates
  return { x: svgPoint.x, y: svgPoint.y }
}

const add = (__x = null, __y = null) => {

  let _x, _y

  if(__x === null || __y === null) {

    if (window.innerWidth < 580) {
      _x = 100 + humans.value.length * 10
      _y = 160
    } else if (window.innerWidth < 768) {
      _x = 120 + humans.value.length * 10
      _y = 150
    } else if (window.innerWidth < 1024) {
      _x = window.innerWidth - 200
      _y = 200 + humans.value.length * 20
    } else {
      _x = window.innerWidth - 300
      _y = 230 + humans.value.length * 30
    }

  } else {
    _x = __x
    _y = __y
  }

  const svgCoords = screenSpaceToSvgSpace(_x, _y)

  humans.value.push({ x: svgCoords.x, y: svgCoords.y, tranche: null, pulse: false, magnitude: null })

  recomputeHumanPosition(humans.value[humans.value.length-1])
  changes.record()

}

const human_moved = (event, _human) => {
  const svgCoords = screenSpaceToSvgSpace(event.x, event.y)
  _human.x = svgCoords.x
  _human.y = svgCoords.y

  const { tranche_id, magnitude } = getTranche({ x: _human.x, y: _human.y }, center, props.params.radius, props.params.innerRadius, props.params.steps)
  _human.tranche = tranche_id
  _human.magnitude = magnitude
  changes.record()
}

const recomputeHumansPositions = () => {
  for (const human of humans.value) {
    recomputeHumanPosition(human)
  }
}

const recomputeHumanPosition = _human => {
  const { tranche_id, magnitude } = getTranche({ x: _human.x, y: _human.y }, center, props.params.radius, props.params.innerRadius, props.params.steps)
    _human.tranche = tranche_id
    _human.magnitude = magnitude
}

const remove = _index => {
  humans.value.splice(_index, 1) // 2nd parameter means remove one item only
  changes.record()
}

const empty = () => {
  humans.value.splice(0)
  changes.record()
}

defineExpose({ humans, add, empty, recomputeHumansPositions })
</script>