<template>
    <g ref="human" :transform="`translate(${props.x} ${props.y})`">
        <circle class="human" :class="{ 'pulse': props.pulse }" :r="20" />
        <!-- <text class="human-text" dy="1" dominant-baseline="middle" text-anchor="middle">{{props.id}}</text> -->
    </g>
</template>

<script setup>
import { onMounted, onBeforeUnmount, ref } from 'vue'

const props = defineProps({
    x: {
        type: Number,
        required: true
    },
    y: {
        type: Number,
        required: true
    },
    tranche: {
        type: Number,
        required: false
    },
    pulse: {
        type: Boolean,
        required: false
    }
})

const emit = defineEmits(['move'])
const human = ref(null)

const onMouseDown = (e) => {
    window.addEventListener('mousemove', onMouseMove)
}

const onMouseUp = (e) => {
    window.removeEventListener('mousemove', onMouseMove)
}

const onTouchStart = (e) => {
    window.addEventListener('touchmove', onTouchMove)
}

const onTouchEnd = (e) => {
    window.removeEventListener('touchmove', onTouchMove)
}

const onMouseMove = (e) => {
    e = e || window.event
    emit('move', { x: e.clientX, y: e.clientY })
}

const onTouchMove = (event) => {
    // event.preventDefault() // we don't want to scroll
    const touch = event.touches[0]
    emit('move', { x: touch.clientX, y: touch.clientY })
}

onMounted(() => {
    human.value.addEventListener('mousedown', onMouseDown)
    human.value.addEventListener('mouseup', onMouseUp)
    human.value.addEventListener('touchstart', onTouchStart)
    human.value.addEventListener('touchend', onTouchEnd)
})

onBeforeUnmount(() => {
    human.value.removeEventListener('mousedown', onMouseDown)
    human.value.removeEventListener('mouseup', onMouseUp)
    human.value.removeEventListener('touchstart', onTouchStart)
    human.value.removeEventListener('touchend', onTouchEnd)
})
</script>

<style lang="sass">
.human
    cursor: grab
    touch-action: none
    fill: black
    stroke: white
    stroke-width: 3px
    user-select: none

    &.pulse
        animation-name: pulse
        animation-duration: 0.4s
        animation-iteration-count: 1
        animation-play-state: running

.human-text
    fill: currentColor
    pointer-events: none
    font-size: 1.2rem

@keyframes pulse
    5%
        transform: scale(1.5)
        fill: white

    100%
        transform: scale(1)
</style>
