<template>
	<button class="btn btn-status" :class="{ active: props.device.connection === 'open' }" @click="toggle">{{ props.device.name }}</button>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { WebMidi } from 'webmidi'

const props = defineProps({
    device: {
        type: Object,
        required: true
    },
})

const enabled = ref(false)

const open = () => {
	WebMidi.getOutputById(props.device.id).open()
}

const close = () => {
	WebMidi.getOutputById(props.device.id).close()
}

const toggle = () => {
	if(props.device.connection === 'open') {
		close()
	} else {
		open()
	}
}

onMounted(() => {
	close()
})
</script>

<style lang="sass">
.btn-status
	transition: all 0.25s ease
	display: flex
	width: 100%
	align-items: baseline

	&:after
		content:""
		margin-left: auto
		background: black
		border: 1px solid white
		border-radius: 50%
		width: 0.5em
		height: 0.5em

	&:not(.active)
		opacity: 0.3333

	&:hover:not(.active)
		opacity: 0.6666

	&.active:after
		background: white
</style>