<template>
<div>
	<button class="btn btn-status" :class="{active: enabled === true}" @click="toggle">{{enabled}}</button>
</div>
<div>
	<template v-if="devices.length == 0"><div>no devices found</div></template>
	<template v-else>
		<ul class="reset-ul">
			<li v-for="device in devices">
				<MidiDevice :device="device" />
			</li>
		</ul>
	</template>
</div>
</template>

<script setup>
import { ref } from 'vue'
import { WebMidi } from 'webmidi'
import MidiDevice from '@/components/MidiDevice.vue'

const enabled = ref(false)
const devices = ref([])

const add_device = (_device) => {
	const index = devices.value.findIndex(x => x.id === _device.id)
	const obj = {
			id: _device.id,
			name: _device.name,
			state: _device.state,
			connection: _device.connection
		}

	if(index > -1) {
		// if exists update it
		devices.value[index] = obj
	} else {
		// if doesnt exist create it
		devices.value.push(obj)
		_device.addListener('opened', e => add_device(e.port))
		_device.addListener('closed', e => add_device(e.port))
	}
}

const remove_device = (_device) => {
	const index = devices.value.findIndex(x => x.id === _device.id)
	if(index > -1) {
		devices.value.splice(index, 1)
	}
}

const enable = () => {
	if(enabled.value) return

	WebMidi.addListener('error', e => {
		console.log('error', e)
	})

	WebMidi.addListener('connected', e => {
		if(e.port.type === "output") {
			console.log('connected', e)
			add_device(e.port)
		}
	})

	WebMidi.addListener('disconnected', e => {
		if(e.port.type === "output") {
			console.log('disconnected', e)
			remove_device(e.port)
		}
	})

	WebMidi.enable().then(e => {
		enabled.value = true
		console.log('enabled')
		WebMidi.outputs.forEach(device => {
			add_device(device)
		})
	})
}

const disable = () => {
	if(!enabled.value) return

	WebMidi.disable().catch(err => console.log('error', err)).then(e => {
		enabled.value = false
		console.log('disabled')
		devices.value = []
	})
}

const toggle = () => {
	console.log('toggle')
	if(enabled.value) {
		disable()
	} else {
		enable()
	}
}

const refresh = () => {
	if(!enabled.value) return

	WebMidi.outputs.forEach(device => {
		add_device(device)
	})

}

const trigger = (_channel, _note, _delay) => {
	
	const delay = _delay ? `+${_delay}` : 0

	WebMidi.outputs.forEach(output => {
		if(output.connection === 'open') {
			output.channels[_channel].playNote(_note, {duration: 50, attack: 1, time: delay})
		}
	})
}

defineExpose({ trigger, enabled })
</script>