<template>
<div class="midi">
	<MidiManager ref="manager" />
	<div>
		<div>channel <select class="channel-select" v-model="channel">
		  <option v-for="index in 16">{{ index }}</option>
		</select>
		</div>
		<div>
			<h4>notes</h4>
			<div class="notes-container">
			<template v-for="(midi_note, index) in midi_notes">
				<div>
					<input type="number" @change="changeNote($event, index)" :value="midi_note" :style="`color: var(--color${index})`"/>
				</div>
			</template>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { ref } from 'vue'
import MidiManager from '@/components/MidiManager.vue'

const manager = ref(null)
// VERMONA kick 36, drum 37, drum2 38, multi 39, snare 40, hi-hat 41, hi-hat2 42, clap 43 
// const note_midi = [36, 37, 40, 41, 47]

// DRUMBRUTE
const drumbrute_notes = [36, 38, 39, 40, 46]

const channel = ref(6)
const midi_notes = ref(drumbrute_notes)


const trigger = (_instrument_id, _delay = 0) => {
	manager.value.trigger(channel.value, midi_notes.value[_instrument_id], _delay)
}

const changeNote = (e, index) => {
	midi_notes.value[index] = e.target.value
}

defineExpose({ trigger })
</script>

<style lang="sass">
.midi
	.devices-list
		font-size: 0.75rem

	.channel-select
		width: min-content
		margin-left: auto

	.notes-container
		display: flex

		input[type="number"]
			-moz-appearance: textfield
			width: 100%
			padding-left: 0
			padding-right: 0
			margin: 0

		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button 
			-webkit-appearance: none

</style>