<template>
    <div class="prompt" v-show="show">
      <div class="prompt-bg" @click="show = false"></div>
      <div class="prompt-content text-body">
        <p>
          You should export your tracks to a file.<br>
          For now, tracks are saved in your browser. But it can decide to erase it without further warning.
        </p>
        <div>
          <button type="button" class="btn">Export tracks</button>
          <button type="button" class="btn" @click="show = false">close</button>
        </div>
      </div>
    </div>
</template>
<script setup>
import { ref, watch } from 'vue'
import { useChangesStore } from '@/stores/ChangesStore.js'

const props = defineProps({
    hasTracksSaved: {
        type: Function,
        required: true
    },
})

const changes = useChangesStore()

const promptUser = (event) => {
  console.log(props.hasTracksSaved())
  if(!props.hasTracksSaved())
    return

  show.value = true
  // Recommended
  event.preventDefault()

  // Included for legacy support, e.g. Chrome/Edge < 119
  event.returnValue = 'save before quit'
}

watch(() => changes.shouldPrompt, (newValue, oldValue) => {
  console.log('changes changed', oldValue, newValue)
  if(newValue) {
    window.addEventListener("beforeunload", promptUser)
  } else {
    window.removeEventListener("beforeunload", promptUser)
  }
},
{ immediate: true })




const show = ref(false)

</script>

<style lang=sass>
.prompt
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99999

  display: flex
  align-items: center
  justify-content: center

  padding: 2rem
  box-sizing: border-box

.prompt-bg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.9)

.prompt-content
  position: relative
  padding: 2rem
  border: 1px solid white
  background: var(--bg-color)
  max-height: 75vh
  overflow: auto
  scrollbar-width: thin
  
</style>