<template>
  <h1>Radial<br />Step<br />Sequencer</h1>
  <div class="debug">
    <pre>{{ humans?.humans?.length ? humans?.humans : '' }}</pre>
  </div>
  <div>
    <svg ref="svg" class="fullscreen" width="100%" height="100%" viewBox="0,0,1000,1000"
      preserveAspectRatio="xMidYMid meet" @dblclick="addHumanThere">
      <defs>
        <RadialGradient :fr="params.innerRadius" :r="params.radius" :colorA="params.colorA" :colorB="params.colorB"
          :numInstruments="5" />
      </defs>
      <g transform="translate(500 500)">
        <Tarte :radius="params.radius" :innerRadius="params.innerRadius" :tranches="params.steps" :beat="beat" />
      </g>
    </svg>
    <svg class="fullscreen humans-svg" width="100%" height="100%" viewBox="0,0,1000,1000"
      preserveAspectRatio="xMidYMid meet">
      <Humans ref="humans" :svg="svg" :params="params" />
    </svg>
  </div>

  <div id="ui" :style="`--color0: ${colorMix(params.colorA, params.colorB, 0)};
                        --color1: ${colorMix(params.colorA, params.colorB, 1/4)};
                        --color2: ${colorMix(params.colorA, params.colorB, 2/4)};
                        --color3: ${colorMix(params.colorA, params.colorB, 3/4)};
                        --color4: ${colorMix(params.colorA, params.colorB, 1)};`">

    <Suspense>
      <Sound ref="sound" :bpm="params.bpm" @tick="tick" />
    </Suspense>

    <div class="buttons">
      <button type="button" class="btn btn-play" @click="sound.toggle">
        <svg viewBox="0 0 46 46">
          <template v-if="sound?.isPlaying">
            <rect x="8" y="3" width="10" height="40" />
            <rect x="28" y="3" width="10" height="40" />
          </template>
          <template v-else>
            <polygon points="12 43 12 3 42 23 12 43" />
          </template>
        </svg>
      </button>

    </div>

    <div class="params-container" :style="`--slider-connect-bg: ${params.colorB}`">

      <div>
        <button type="button" class="btn" @mousedown="sync">SYNC</button>
      </div>

      <div class="slider">
        <div class="param-title">Bpm {{ params.bpm }} <button type="button" class="btn"
            @click="() => params.bpm-- && changes.record()">-</button><button type="button" class="btn" @click="() => params.bpm++ && changes.record()">+</button>
        </div>
        <Slider v-model="params.bpm" :min="0" :max="300" :tooltips="false" :lazy="false" @change="changes.record()" />
      </div>
      <div class="slider">
        <div class="param-title">Steps {{ params.steps }}</div>
        <Slider v-model="params.steps" :min="3" :max="32" :tooltips="false" :lazy="false"
          @update="humans?.recomputeHumansPositions" @change="changes.record()" />
      </div>
      <div class="slider">
        <div class="param-title">Radius out. {{ params.radius }}</div>
        <Slider v-model="params.radius" :min="params.innerRadius + 20" :max="2000" :tooltips="false" :lazy="false"
          @update="humans?.recomputeHumansPositions" @change="changes.record()" />
      </div>
      <div class="slider">
        <div class="param-title">Radius in. {{ params.innerRadius }}</div>
        <Slider v-model="params.innerRadius" :min="0" :max="params.radius - 20" :tooltips="false" :lazy="false"
          @update="humans?.recomputeHumansPositions" @change="changes.record()" />
      </div>
      <div class="param">
        <div class="param-title">Colors</div>
        <div class="flex">
          <pick-colors v-model:value="params.colorA" format="rgb" theme="dark" @change="changes.record()" />
          <pick-colors v-model:value="params.colorB" format="rgb" theme="dark" @change="changes.record()" />
        </div>
      </div>

      <div class="param">
        <div class="param-title">Sound kits</div>
        <select v-model="params.selected_sounds" @change="() => { sound?.loadSamples(params.selected_sounds) ; changes.record() }">
          <option disabled value="">Please select one</option>
          <option v-for="(group, index) in sound?.samples_group" :value="group.name">{{group.name}}</option>
        </select>
      </div>

      <div class="saves-container param">
        <div class="param-title">Tracks</div>
        <Saves ref="saves" @save="saveTrack" @load="loadTrack" @update="updateTrack" @clean="humans?.empty" />
      </div>

      <div class="faders-container" :class="{'show-portrait': showFaders}">
        <div class="faders-inline">
          <div class="param-title">Mix</div>
          <div class="faders">
            <div class="slider" v-for="(instrument, index) in sound?.instruments"
              :style="`--slider-connect-bg: var(--color${index}`">
              <Slider v-model="instrument.volume" orientation="vertical" direction="rtl" :min="-48" :max="0" :step="-1"
                :tooltips="false" :lazy="false" @update="sound.changeVolume(index, instrument.volume)" @change="changes.record()" />
              <div class="fader-param">{{ Math.round(instrument.volume) }}</div>
            </div>
          </div>
        </div>

        <div class="faders-inline">
          <div class="param-title">Low-pass filter</div>
          <div class="faders">
            <div class="slider" v-for="(instrument, index) in sound?.instruments"
              :style="`--slider-connect-bg: var(--color${index})`">
              <Slider v-model="instrument.lowPassFreq" orientation="vertical" direction="rtl" :min="0" :max="20000"
                :step="-1" :tooltips="false" :lazy="false"
                @update="sound.changeLowPassFreq(index, linearizeLowPassFreq(instrument.lowPassFreq))" @change="changes.record()" />
              <div class="fader-param">{{ Math.round(instrument.lowPassFreq / 200) }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-show-faders">
        <button class="btn" type="button" @click="showFaders = !showFaders">
            <svg viewBox="0 0 46 46">
              <template v-if="showFaders">
                <g transform="rotate(45,20,20)">
                  <rect x="18" y="3" width="10" height="40"></rect>
                  <rect x="3" y="18" width="40" height="10"></rect>
                </g>
              </template>
              <template v-else>
                <rect x="0" y="20" width="8" height="20"></rect>
                <rect x="16" y="0" width="8" height="40"></rect>
                <rect x="32" y="10" width="8" height="30"></rect>
              </template>
            </svg>
        </button>
      </div>
    </div>
  </div>
  <Colophon />
</template>

<script setup>
import { ref, toRaw, reactive } from 'vue'
import { cloneDeep } from 'lodash'
import PickColors from 'vue-pick-colors'
import Humans from '@/components/Humans.vue'
import Tarte from '@/components/Tarte.vue'
import RadialGradient from '@/components/RadialGradient.vue'
import Sound from '@/components/Sound.vue'
import Slider from '@vueform/slider'
import Saves from '@/components/Saves.vue'
import { colorMix } from '@/composables/ColorMix'
import Colophon from '@/components/Colophon.vue'
import { useChangesStore } from '@/stores/ChangesStore.js'

const sound = ref(null)
const saves = ref(null)
const svg = ref(null)
const humans = ref(null)

const beat = ref(0)
const showFaders = ref(false)

const changes = useChangesStore()

const params_default = {
  bpm: 120,
  steps: 16,
  radius: 440,
  innerRadius: Math.round(440 / 5.5),
  colorA: 'rgb(200, 200, 200)',
  colorB: 'rgb(100, 0, 200)',
  selected_sounds: "default",
}

const params = ref(params_default)


const tick = time => {

  // advance one step
  beat.value = (beat.value + 1) % params.value.steps

  // get humans in current tranche
  const humans_in_current_tranche = humans.value.humans.filter(human => human.tranche === beat.value)

  // bail early if no one in current tranche
  if (!humans_in_current_tranche.length) return

  // get the human closer to the center (this is how distance sensor will work)
  // const current_human = humans_in_current_tranche.reduce((lowestMag, currentMag) => {
  //   return currentMag.magnitude < lowestMag.magnitude ? currentMag : lowestMag
  // }, humans_in_current_tranche[0])

  const triggered_sounds = []

  for (const current_human of humans_in_current_tranche) {

    // get instrument index from magnitude
    const numInstrus = sound.value.instruments.length

    let instrument_id = numInstrus - 1

    for (let i = 1; i < numInstrus; i++) {
      if (current_human.magnitude < i / numInstrus) {
        instrument_id = i - 1
        break
      }
    }

    // if sound already triggered during this step, don't trigger it again.
    if (triggered_sounds.includes(instrument_id)) continue

    // trigger sound
    sound.value.trigger(instrument_id, time)
    triggered_sounds.push(instrument_id)

    // trigger human visual pulse
    current_human.pulse = true

    // unpulse human
    setTimeout(() => {
      current_human.pulse = false
    }, 500)

  }
}

const sync = () => {
  beat.value = -1
  sound.value.sync()
}

const getSnapshot = () => {
  return {
    name: "",
    humans: cloneDeep(toRaw(humans.value.humans)),
    params: cloneDeep(toRaw(params.value)),
    instruments: cloneDeep(toRaw(sound.value.instruments))
  }
}

const saveTrack = () => {
  saves.value.save(getSnapshot())
}

const updateTrack = (index) => {
  saves.value.update(getSnapshot(), index)
}

const loadTrack = (track) => {
  humans.value.humans = [...cloneDeep(toRaw(track.humans))]
  params.value = cloneDeep(toRaw(track.params))
  sound.value.loadInstruments([...cloneDeep(toRaw(track.instruments))])
  sound.value.loadSamples(track.params.selected_sounds)
}

const addHumanThere = (e) => {
  e.preventDefault()
  humans.value.add(e.clientX, e.clientY)
}

const linearizeLowPassFreq = (_freq) => {
  // Low pass filter is from 0hz to 20khz (~ human hearing)
  // Problem is, we need a lot of precision in the sliders at low values (from 0 to roughly 200) and less presicion as we go up to 20khz
  // for that, I chose to use the power of 2 function. Before using it, we need to map the frequency (0 to 20k) to an arbitrary range (here, 0 to 10)
  // Then we use the function 2^range. That produces a number from 1 to 1024. Then we need to convert it to frequency range.
  //  And that's it
  
  // in _freq from [0 to 20000]
  // frequency / 2000 [0 to 10]
  // 2^frequency [1 to 1024]
  // -1 [0 to 1023]
  //  /1023 [0 to 1]
  // * 20000 [0 to 20000]

  return ( Math.pow(2, _freq / 2000) - 1 ) / 1023 * 20000
}

</script>

<style src="@vueform/slider/themes/default.css"></style>
<style src="@vueform/toggle/themes/default.css"></style>
<style lang="sass">
$sm-down: "screen and (max-width: 767px)"
$sm-up: "screen and (min-width: 768px)"
$xs-down: "screen and (max-width: 580px)"

#ui
  --slider-bg: var(--darkgrey)
  --slider-handle-bg: var(--bg-color)
  --slider-handle-radius: 50%
  --slider-handle-width: 1.125rem
  --slider-handle-height: 1.125rem
  --slider-handle-ring-width: 1px
  --slider-handle-ring-color: white
  --slider-handle-border: 2px solid white

  --param-margin: 1.5rem

  position: absolute
  display: flex
  top: 0
  flex-direction: column
  padding: 1rem 0

  @media (orientation: landscape)
    padding: calc(3rem - var(--param-margin)) 3rem
    right: 0
    width: 12rem

  @media (orientation: portrait)
    width: 100%

  .buttons
    position: fixed
    right: 16rem
    top: 3rem
    width: min-content

  .btn-play
    width: 4rem
    height: 4rem

  .slider-connects
    border: 1px solid var(--bg-color)


.params-container
  @media (orientation: portrait)
    height: 100%
    display: flex
    flex-wrap: nowrap
    justify-content: space-between

  @media #{$xs-down}
    flex-wrap: wrap

.params-container > *
  @media (orientation: landscape)
      margin-top: var(--param-margin)
      margin-bottom: var(--param-margin)

  @media (orientation: portrait)
    box-sizing: border-box
    margin: 1rem 0
    padding: 0 1rem

@media (orientation: landscape)
  .params-container .faders-inline
    &:not(:first-child)
      margin-top: var(--param-margin)
    &:not(:last-child)
      margin-bottom: var(--param-margin)


.params-container > .slider
  display: flex
  flex-direction: column

  @media (orientation: portrait)
    flex-basis: 25%

  & + .slider
    margin-top: calc(var(--param-margin) * 0.5)

  .slider-horizontal
    --slider-height: 0.7rem
    margin: .325rem 0

.param-title
    margin-bottom: 0.75rem
    letter-spacing: 0.05em

.color-picker
  background: none
  cursor: pointer
  margin-right: 0.5rem

  .color-item
    border: 1px solid black !important
    border-radius: 50% !important
    margin: 0 !important


.saves-container
  flex-basis: 60%
  overflow-y: auto


.btn-show-faders
  display: none
  svg
    width: 2rem

@media (orientation: portrait)
  .faders-container
      position: fixed
      width: 100%
      left: 0
      bottom: 0
      z-index: 999
      
      padding: 2.5rem
      background: linear-gradient(to top, rgba(20,20,20,0.98) 50%, rgba(20,20,20,0))

      margin: 0
      display: flex
      justify-content: space-around
      transition: all 0.2s ease

      &:not(.show-portrait)
        opacity: 0

  .btn-show-faders
    display: block
    position: fixed
    right: 2rem
    bottom: 2.5rem
    z-index: 999

    margin: 0
    padding: 0

.btn-show-faders
  @media #{$xs-down}
    right: 0.5rem

.faders-inline
  @media (orientation: portrait)
    flex-basis: 20%
    max-width: 14rem
    margin: 0 2rem
    flex-grow: 1


// fix for placing handle in vertical slider
.slider-vertical .slider-handle
  right: calc((var(--slider-handle-height, 16px) - var(--slider-height, 6px)) / 2 * -1)


.faders
  --slider-height: 0.7rem

  display: flex
  justify-content: space-between

  position: relative
  width: 100%
  height: 15rem
  margin-top: 1.25rem

  & > .slider
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 2rem

  .fader-param
    margin-top: 0.5rem
    position: absolute
    bottom: 0
</style>