<template>
    <radialGradient id="trancheGradient" gradientUnits="userSpaceOnUse" :fr="props.fr" :r="props.r" cx="0" cy="0">
        <template v-for="(n, instru) in props.numInstruments">
            <stop
                :offset="Math.max(0, (instru / props.numInstruments) * 100 + 0.2) + '%'"
                :stop-color="colorMix(colorA, colorB, instru / (props.numInstruments - 1))"
            />
            <stop
                :offset="((instru + 1) / props.numInstruments) * 100 + '%'"
                :stop-color="colorMix(colorA, colorB, instru / (props.numInstruments - 1))"
            />
        </template>
    </radialGradient>
</template>

<script setup>
import { colorMix } from '@/composables/ColorMix'

const props = defineProps({
    colorA: {
        type: String,
        required: true
    },
    colorB: {
        type: String,
        required: true
    },
    numInstruments: {
        type: Number,
        required: true
    },
    fr: {
        type: Number,
        required: true
    },
    r: {
        type: Number,
        required: true
    }
})
</script>
