<template>
	<div class="saves">
		<div>
			<button class="btn" type="button" @click="open">import</button> <button class="btn" type="button" @click="exportFile">export</button>
		</div>
		<div class="name-input flex">
			<input type="text" v-model="name" placeholder="track name" @keyup.enter="$emit('save')" />
			<button type="button" class="btn" @click="$emit('save')" v-html="IconSave"></button>
		</div>
		<ul class="reset-ul saves-list" :class="{'trackChanged': changes.trackChanged}">
			<li class="save-item flex"><button class="btn" type="button" @click="clean()">empty track</button></li>
			<li v-for="(track, index) in saves" class="save-item flex" :class="{'selected': index === selected_index}">
				<button class="btn" type="button" @click="load(index)">{{track.name}}</button>
				<div class="ml-auto">
					<button class="btn btn-save" type="button" @click="$emit('update', index)" v-html="IconSave" v-if="index === selected_index"></button>
					<button class="btn btn-delete" type="button" @click="deleteTrack(index)">X</button>
				</div>
			</li>
		</ul>
		<OnQuit :hasTracksSaved="hasTracks" />
	</div>
</template>

<script setup>
import { ref, toRaw } from 'vue'
import { useLocalStorage, useFileDialog } from '@vueuse/core'
import IconSave from '@/assets/icons/icon-save.svg?raw'
import OnQuit from '@/components/OnQuit.vue'
import { useChangesStore } from '@/stores/ChangesStore.js'

const emit = defineEmits(['save','load','update','clean'])
const saves = useLocalStorage('saves', [])
const name = ref("")
const selected_index = ref(null)
const changes = useChangesStore()

const save = (track) => {
	// add new save
	track.name = name.value
	saves.value.unshift(track)
	selected_index.value = 0

	name.value = ""
}

const update = (track, index) => {
	// update existing save
	track.name = saves.value[index].name
	saves.value[index] = track
	changes.saved()
}

const deleteTrack = (index) => {
	if(selected_index.value === 0 || selected_index.value === index) {
		selected_index.value = null
	}
	else {
		selected_index.value -= 1
	} 

	saves.value.splice(index, 1)
	changes.saved()
}

const deleteAll = () => {
	saves.value = []
	selected_index.value = null
}

const load = (index) => {
	emit('load', saves.value[index])
	changes.cancel()
	selected_index.value = index
}

const clean = () => {
	emit('clean')
}


const { files, open, reset, onChange } = useFileDialog({
	multiple: false,
	accept: 'application/json', // Set to accept only image files
})

onChange (async (file) => {
	const text = await file[0].text()
	saves.value = JSON.parse(text)
	changes.reset()
})

const exportFile = () => {
	const json = JSON.stringify(toRaw(saves.value))
	const asBlob = new Blob([json], {type: 'application/json'})
	const asURL = window.URL.createObjectURL(asBlob)

	const downloadLink = document.createElement('a')
	downloadLink.download = 'myTracks'
	downloadLink.innerHTML = 'Download File'
	downloadLink.href = asURL
	downloadLink.onclick = function (event) {
		document.body.removeChild(event.target)
		changes.exported()
	}
	downloadLink.style.display = 'none'
	document.body.appendChild(downloadLink)
	downloadLink.click()
}

const hasTracks = () => {
	return saves.value.length > 0
}

defineExpose({ save, update })
</script>

<style lang="sass" scoped>
// .saves
	// color: var(--darkgrey)

.name-input
	position: sticky
	top: 0
	
	input
		border: 1px solid black
		background: var(--bg-color)
		width: 100%
		display: block

		&:focus
			border-color: var(--darkgrey)

	.btn
		position: absolute
		top: 50%
		right: 0.1rem
		transform: translateY(-50%)

	:deep(svg)
		width: 1.5rem

.saves-list
	margin-top: 0
	margin-bottom: 0

.save-item
	padding: 0.25rem 0.125rem
	border-bottom: 1px solid black
	align-items: center

	background: var(--bg-color)


	.btn-save
		pointer-events: none
		opacity: 0.3
		& :deep(svg)
			width: 1.2rem

	.btn-delete
		font-size: 1.2rem
		margin-bottom: -0.1em


	&.selected
		background-color: rgb(40,40,40)

	.trackChanged &.selected .btn-save
		pointer-events: all
		opacity: 1


.ml-auto
	margin-left: auto

</style>