<template>
<div class="param">
    <div class="param-title">MIDI</div>
    <Midi ref="midi" />
</div>
</template>

<script setup>
import { ref, reactive, watch } from 'vue'
import * as Tone from 'tone'
import Midi from '@/components/Midi.vue'

const midi = ref(null)

const props = defineProps({
    bpm: {
        type: Number,
        required: true
    }
})

const emit = defineEmits(['tick'])
let inited = false
const isPlaying = ref(false)

const samples_group = [
{
    name: "default",
    urls: ['./samples/DRUM/SONIC_PI/bd_haus.ogg','./samples/DRUM/SONIC_PI/hat_bdu.ogg','./samples/DRUM/SONIC_PI/drum_snare_hard.ogg','./samples/DRUM/SONIC_PI/hat_gnu.ogg','./samples/DRUM/SONIC_PI/bass_voxy_hit_c.ogg']
},
{
    name: "TR808",
    urls: ['./samples/DRUM/TR808/808_kick.wav','./samples/DRUM/TR808/808_snare.wav','./samples/DRUM/TR808/808_clap.wav','./samples/DRUM/TR808/808_tom_mid.wav','./samples/DRUM/TR808/808_hat_close.wav']
},
{
    name: "TR909",
    urls: ['./samples/DRUM/TR909/909_kick.wav','./samples/DRUM/TR909/909_snare.wav','./samples/DRUM/TR909/909_clap.wav','./samples/DRUM/TR909/909_tom_mid.wav','./samples/DRUM/TR909/909_hat_close.wav']
},
{
    name: "Vontage Machine",
    urls: ['./samples/DRUM/vontage machine/vm_kick.wav','./samples/DRUM/vontage machine/vm_snare.wav','./samples/DRUM/vontage machine/vm_clap.wav','./samples/DRUM/vontage machine/vm_tom_mid.wav','./samples/DRUM/vontage machine/vm_hat_close.wav']
},
{
    name: "Kasbah",
    urls: ['./samples/DRUM/KASBAH/ksbh_kick_87.wav','./samples/DRUM/KASBAH/ksbh_snare.wav','./samples/DRUM/KASBAH/ksbh_clap.wav','./samples/DRUM/KASBAH/ksbh_tom_mid.wav','./samples/DRUM/KASBAH/ksbh_hat.wav']
}]

const instruments = ref([
    {
        url: samples_group[0].urls[0],
        volume: -10,
        lowPassFreq: 20000
    },
    {
        url: samples_group[0].urls[1],
        volume: -10,
        lowPassFreq: 20000
    },
    {
        url: samples_group[0].urls[2],
        volume: -10,
        lowPassFreq: 20000
    },
    {
        url: samples_group[0].urls[3],
        volume: -10,
        lowPassFreq: 20000
    },
    {
        url: samples_group[0].urls[4],
        volume: -10,
        lowPassFreq: 20000
    }
])


const sourcesToPlayersArray = (arr) => {

    const out = []

    for (let i of arr) {
        const filter = new Tone.Filter(20000, 'lowpass', -48).toDestination()
        filter.Q.value = 1
        filter.detune.value = 1200
        const player = new Tone.Player(i.url).connect(filter)
        player.volume.value = i.volume

        out.push({
            player: player,
            filter: filter
        })
    }

    return out
}

const players = sourcesToPlayersArray(instruments.value)

let tick_id = null

const play = async () => {
    if (!inited) {
        await Tone.start()
        await Tone.loaded()
        Tone.Transport.bpm.value = props.bpm
        players[0].player.start()
        inited = true
        tick_id = Tone.Transport.scheduleRepeat(tick, '16n')
    }

    Tone.Transport.start()
    isPlaying.value = true
}

const stop = () => {
    Tone.Transport.stop()
    isPlaying.value = false
}

const toggle = () => {
    if (isPlaying.value) stop()
    else play()
}

const trigger = (instrument_id, time) => {
    players[instrument_id].player.start(time)
    const delay = (time - Tone.immediate())*1000
    midi.value.trigger(instrument_id, delay)
}

const changeVolume = (instrument_id, intensity) => {
    players[instrument_id].player.volume.value = intensity
}

const changeLowPassFreq = (instrument_id, frequency) => {
    players[instrument_id].filter.frequency.value = frequency
}

const loadInstruments = (_instruments) => {

    for (const [index, instru] of _instruments.entries()) {

        if ( index < players.length - 1 ) {
            const player = players[index].player
            player.volume.value = instru.volume

            const filter = players[index].filter
            filter.frequency.value = instru.lowPassFreq

            if (instruments.value[index].url === instru.url) continue
            player.load(instru.url)
        }
    }

    instruments.value = _instruments
}

const loadSamples = (group_name = "default") => {
    const samples = samples_group.filter( a => a.name === group_name)

    players.forEach( (item, index) => {
        item.player.load(samples[0].urls[index])
    })
}

const sync = () => {
    Tone.Transport.seconds = 0
}

defineExpose({ toggle, trigger, changeVolume, isPlaying, instruments, changeLowPassFreq, loadInstruments, samples_group, loadSamples, sync })

const tick = (time) => {
    emit('tick', time)
}

watch(
    () => props.bpm,
    newValue => Tone.Transport.bpm.value = newValue
)
</script>