<template>
    <template v-for="(n, index) in props.tranches" :key="index">
        <path class="tranche" :class="{ active: index === beat }" :data-id="index"
            :d="makePie(0, 0, props.radius, props.innerRadius, index)" />
    </template>
</template>

<script setup>
import { ref } from 'vue'
const props = defineProps({
    radius: { type: Number },
    innerRadius: { type: Number },
    tranches: { type: Number },
    beat: { type: Number }
})

const gradient_p1X = ref(0)
const gradient_p1Y = ref(0)
const gradient_p2X = ref(0)
const gradient_p2Y = ref(0)

const polarToCartesian = (centerX, centerY, radius, angleInDegrees) => {
    const angleInRadians = ((angleInDegrees - 90) * Math.PI) / 180.0

    return {
        x: centerX + radius * Math.cos(angleInRadians),
        y: centerY + radius * Math.sin(angleInRadians)
    }
}

const makePie = (x, y, radius, innerRadius, index) => {
    const trancheAngle = 360 / props.tranches

    const rotationOffset = trancheAngle / 2
    const startAngle = trancheAngle * index - rotationOffset
    const endAngle = trancheAngle * (index + 1) - rotationOffset

    const start = polarToCartesian(x, y, radius, endAngle)
    const end = polarToCartesian(x, y, radius, startAngle)

    const startInner = polarToCartesian(x, y, innerRadius, startAngle)
    const endInner = polarToCartesian(x, y, innerRadius, endAngle)

    gradient_p1X.value = startInner.x
    gradient_p1Y.value = startInner.y
    gradient_p2X.value = end.x
    gradient_p2Y.value = end.y

    const largeArcFlag = endAngle - startAngle <= 180 ? '0' : '1'

    const d = [
        'M', startInner.x, startInner.y,
        'A', innerRadius, innerRadius, 0, largeArcFlag, 1, endInner.x, endInner.y,
        'L', start.x, start.y,
        'A', radius, radius, 0, largeArcFlag, 0, end.x, end.y,
        'L', startInner.x, startInner.y,
        'Z'
    ].join(' ')

    return d
}
</script>

<style lang="sass">
.tranche
  fill: url("#trancheGradient")
  stroke: rgb(20,20,20)
  stroke-width: 8

  &.active
    fill: white !important
</style>
