$xs-down: "screen and (max-width: 580px)"
$sm-down: "screen and (max-width: 767px)"
$sm-up: "screen and (min-width: 768px)"
$md-down: "screen and (max-width: 1023px)"

@font-face
  font-family: 'Brockmann'
  src: url('/fonts/brockmann-medium-webfont.woff2') format('woff2')
  font-weight: 400
  font-style: normal

:root
  --bg-color: rgb(20, 20, 20)
  --darkgrey: rgb(60, 60, 60)

html, body
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain

html
  font-family: 'Brockmann', sans-serif
  background: var(--bg-color)
  color: white
  font-size: 16px

  scrollbar-width: thin

::-webkit-scrollbar
  width: 9px
::-webkit-scrollbar-track
  background: transparent
::-webkit-scrollbar-thumb
  background-color: rgba(155, 155, 155, 0.5)
  border: transparent

body
  margin: 0

a:link, a:visited, a:active
  color: inherit
  text-underline-offset: 0.35em
  letter-spacing: 0.05em

h1, h2, h3
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.05em

h1
  position: fixed
  width: 380px
  left: 4rem
  bottom: 2rem
  margin: 0
  font-size: 3.5rem
  text-shadow: 0px 0px 15px var(--bg-color), 0px 0px 15px var(--bg-color)

  z-index: 1 // above the sequencer steps (the circle)
  pointer-events: none

  @media #{$xs-down}
    left: 2.5rem

hr
  width: 1rem
  height: 3px
  background: white
  margin: 2rem 0

input[type=text],
input[type=number]
  font-family: inherit
  background: none
  color: inherit
  outline: none
  border: none
  box-shadow: none
  padding: 0.5em
  background: none

select, option
  font-family: inherit
  color: inherit
  background: var(--bg-color)

select 
  border: 1px solid black
  padding: 0.5rem
  width: 100%

.reset-ul
  padding-left: 0
  list-style: none

.fullscreen
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%


.flex
  display: flex

.humans-svg
  z-index: 999
  pointer-events: none

  .human
    pointer-events: all

.debug
  width: 100%
  max-width: 400px
  height: 100%

  padding: 2rem 2rem 16rem 4rem
  box-sizing: border-box
  overflow-y: auto

  pointer-events: none

.btn
  color: inherit
  font-family: inherit
  background: transparent
  border: none

  cursor: pointer
  vertical-align: middle

  @media #{$sm-down}
    margin-left: 0

.btn svg
    fill: currentColor
    display: block

.debug
  @media #{$md-down}
    display: none

@media screen and (max-width: 1023px)
  html
    font-size: 12px


@media #{$xs-down}
  html
    font-size: 10px

.text-body
  max-width: 45em
  line-height: 1.5

  & > :first-child
    margin-top: 0

  & > :last-child
    margin-bottom: 0